/* == Form == */
.wojo.form {
  position: relative;
  max-width: 100%;
  padding:0;
  background-color: #FFFFFF;
}
.wojo.form .field > p {
  margin: 1em 0em;
}
/* == Labels == */
.wojo.form .field > label {
  display: block;
  color: #7F929C;
  font-size: 0.913em;
  font-family: 'mavenProBold';
  text-transform: none;
  margin-bottom: .75em;
}
.wojo.form .field > label.inverted {
  color: #BAC6CB;
}
.wojo.form .field > label.transparent {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-family: 'mavenProDemi';
  font-size: 0.813em;
  margin-bottom: 0;
}
.wojo.form .field > label .icon.asterisk {
  font-size: .750em;
  vertical-align: middle;
  color: #E2747E
}
/* == Inputs == */
.wojo.form textarea,
.wojo.form input:not([type]),
.wojo.form input[type="date"],
.wojo.form input[type="datetime-local"],
.wojo.form input[type="email"],
.wojo.form input[type="number"],
.wojo.form input[type="password"],
.wojo.form input[type="search"],
.wojo.form input[type="tel"],
.wojo.form input[type="time"],
.wojo.form input[type="text"],
.wojo.form input[type="url"],
.wojo.form .wojo.input {
  width: 100%;
  vertical-align: top;
}
.wojo.form ::-webkit-datetime-edit, .wojo.form ::-webkit-inner-spin-button {
 height: 1.250em;
}
.wojo.form input:not([type]),
.wojo.form input[type="date"],
.wojo.form input[type="datetime-local"],
.wojo.form input[type="email"],
.wojo.form input[type="number"],
.wojo.form input[type="password"],
.wojo.form input[type="search"],
.wojo.form input[type="tel"],
.wojo.form input[type="time"],
.wojo.form input[type="text"],
.wojo.form input[type="url"] {
  font-family: 'mavenProRegular';
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.250em;
  padding: 0.75em 1em;
  font-size: 1em;
  background-color: #F2F5F7;
  border: 1px solid #F2F5F7;
  border-top: 2px solid #DEE4E7;
  color: #50646F;
  border-radius: 0.250rem;
  box-shadow: none;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
}
.wojo.form textarea {
  font-family: 'mavenProRegular';
  margin: 0em;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0.750em 1em;
  background-color: #F2F5F7;
  border: 1px solid #F2F5F7;
  border-top: 1px solid #DEE4E7;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.250rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.250;
  resize: none;
}
.wojo.finput {
  display: table;
  width: 100%;
}
.wojo.button.group-span-filestyle{
  font-size:.875rem
}
.wojo.finput span,
.wojo.finput i.icon {
  display: table-cell;
  vertical-align: middle;
  padding: 0 .5em;
}
.wojo.form textarea {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
}
.wojo.small.form textarea,
.wojo.form textarea.small {
  height: 6em;
  min-height: 4em;
  max-height: 12em;
}
.wojo.tiny.form textarea,
.wojo.form textarea.tiny {
  height: 2.5em;
  min-height: 3em;
  max-height: 12em;
}
.wojo.form textarea,
.wojo.form input[type="checkbox"] {
  vertical-align: top;
}
.wojo.form input.attached {
  width: auto;
}
/* Collapse Flex */
.wojo.form .wojo.input > input {
  width: 0px !important;
}
/* == Basic Select == */
.wojo.form select {
  display: block;
  height: auto;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #dddddd;
  border-radius: 0.188rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  padding: 0.62em 1em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
}
/* == Placeholder == */
.wojo.form ::-webkit-input-placeholder {
 color: #B2C2D2;
 font-size:.813em;
}
.wojo.form ::-ms-input-placeholder {
 color: #B2C2D2;
 font-size:.813em;
}
.wojo.form ::-moz-placeholder {
 color: #B2C2D2;
 font-size:.813em;
}
.wojo.form :focus::-webkit-input-placeholder {
 color: rgba(0, 0, 0, 0.87);
}
.wojo.form :focus::-ms-input-placeholder {
color: rgba(0, 0, 0, 0.87);
}
.wojo.form :focus::-moz-placeholder {
 color: rgba(0, 0, 0, 0.87);
}
 .wojo.form .error ::-webkit-input-placeholder {
 color: #e7bdbc;
}
.wojo.form .error ::-ms-input-placeholder {
 color: #e7bdbc;
}
.wojo.form .error ::-moz-placeholder {
 color: #e7bdbc;
}
.wojo.form .error :focus::-webkit-input-placeholder {
 color: #da9796;
}
.wojo.form .error :focus::-ms-input-placeholder {
 color: #da9796;
}
.wojo.form .error :focus::-moz-placeholder {
 color: #da9796;
}
/* == Focus == */
.wojo.form input:not([type]):focus,
.wojo.form input[type="date"]:focus,
.wojo.form input[type="datetime-local"]:focus,
.wojo.form input[type="email"]:focus,
.wojo.form input[type="number"]:focus,
.wojo.form input[type="password"]:focus,
.wojo.form input[type="search"]:focus,
.wojo.form input[type="tel"]:focus,
.wojo.form input[type="time"]:focus,
.wojo.form input[type="text"]:focus,
.wojo.form input[type="url"]:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #33BFC1;
  border-radius: 0.188rem;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}
.wojo.form textarea:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #33BFC1;
  border-radius: 0.188rem;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
  -webkit-appearance: none;
}
/* == Loading == */
.wojo.loading.form {
  position: relative;
  cursor: default;
  point-events: none;
}
.wojo.loading.form:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.wojo.loading.form:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: form-spin 0.6s linear;
  animation: form-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}
@-webkit-keyframes form-spin {
 from {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 to {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@keyframes form-spin {
 from {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 to {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
/* == Checkbox Radio Slider == */
.wojo.checkbox {
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  vertical-align: baseline;
  font-style: normal;
  min-height: 18px;
  font-size: 1rem;
  line-height: 18px;
  min-width: 16px;
}
.wojo.checkbox input[type="checkbox"],
.wojo.checkbox input[type="radio"] {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0 !important;
  outline: none;
  z-index: 3;
  width: 20px;
  height: 20px;
}
.wojo.checkbox .box,
.wojo.checkbox label {
  cursor: auto;
  position: relative;
  display: block;
  padding-left: 1.750em;
  outline: none;
  font-size: 1em;
  margin-bottom: 0!important;
  font-family: 'mavenProRegular'!important;
}
.wojo.small.checkbox .box,
.wojo.small.checkbox label {
  font-size: .875em;
}
.wojo.checkbox .box:before,
.wojo.checkbox label:before {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 20px;
  height: 20px;
  content: '';
  background-color: #fff;
  border-radius: 0.188rem;
  -webkit-transition: border 0.1s ease, opacity 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  border: 1px solid #BAC6CB;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wojo.small.checkbox .box:before,
.wojo.small.checkbox label:before {
  width: 16px;
  height: 16px;
}
.wojo.checkbox .box:after,
.wojo.checkbox label:after {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: border 0.1s ease, opacity 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wojo.small.checkbox .box:after,
.wojo.small.checkbox label:after {
  width: 16px;
}
.wojo.checkbox label,
.wojo.checkbox + label {
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
.wojo.checkbox + label {
  vertical-align: middle;
}
.wojo.checkbox .box:hover::before,
.wojo.checkbox label:hover::before {
  background: #FFFFFF;
  border-color: rgba(34, 36, 38, 0.35);
}
.wojo.checkbox label:hover,
.wojo.checkbox + label:hover {
  color: rgba(0, 0, 0, 0.8);
}
.wojo.checkbox .box:active::before,
.wojo.checkbox label:active::before {
  background: #F9FAFB;
  border-color: rgba(34, 36, 38, 0.35);
}
.wojo.checkbox .box:active::after,
.wojo.checkbox label:active::after {
  color: rgba(0, 0, 0, 0.95);
}
.wojo.checkbox input:active ~ label {
  color: rgba(0, 0, 0, 0.95);
}
.wojo.checkbox input:focus ~ .box:before,
.wojo.checkbox input:focus ~ label:before {
  background: #FFFFFF;
  border-color: #96C8DA;
}
.wojo.checkbox input:focus ~ .box:after,
.wojo.checkbox input:focus ~ label:after {
  color: rgba(0, 0, 0, 0.95);
}
.wojo.checkbox input:focus ~ label {
  color: rgba(0, 0, 0, 0.95);
}
.wojo.checkbox input:checked ~ .box:before,
.wojo.checkbox input:checked ~ label:before {
  background-color: #33BFC1;
  border-color: #33BFC1;
}
.wojo.checkbox input:checked ~ .box:after,
.wojo.checkbox input:checked ~ label:after {
  opacity: 1;
  color: #fff;
}
.wojo.checkbox input:indeterminate ~ .box:before,
.wojo.checkbox input:indeterminate ~ label:before {
  background: #FFFFFF;
  border-color: rgba(34, 36, 38, 0.35);
}
.wojo.checkbox input:indeterminate ~ .box:after,
.wojo.checkbox input:indeterminate ~ label:after {
  opacity: 1;
  color: rgba(0, 0, 0, 0.95);
}
.wojo.checkbox input:indeterminate:focus ~ .box:before,
.wojo.checkbox input:indeterminate:focus ~ label:before,
.wojo.checkbox input:checked:focus ~ .box:before,
.wojo.checkbox input:checked:focus ~ label:before {
  background: #FFFFFF;
  border-color: #96C8DA;
}
.wojo.checkbox input:indeterminate:focus ~ .box:after,
.wojo.checkbox input:indeterminate:focus ~ label:after,
.wojo.checkbox input:checked:focus ~ .box:after,
.wojo.checkbox input:checked:focus ~ label:after {
  color: rgba(0, 0, 0, 0.95);
}
.wojo.read-only.checkbox,
.wojo.read-only.checkbox label {
  cursor: default;
}
.wojo.disabled.checkbox .box:after,
.wojo.disabled.checkbox label,
.wojo.checkbox input[disabled] ~ .box:after,
.wojo.checkbox input[disabled] ~ label {
  cursor: default;
  opacity: 0.5;
  color: #000000;
}
.wojo.checkbox input.hidden {
  z-index: -1;
}
.wojo.checkbox input.hidden + label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* == Radio == */
.wojo.radio.checkbox {
  min-height: 18px;
}
.wojo.radio.checkbox .box,
.wojo.radio.checkbox label {
  padding-left: 2em;
}
.wojo.radio.checkbox .box:before,
.wojo.radio.checkbox label:before {
  content: '';
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 20px;
  height: 20px;
  border-radius: 500rem;
  top: 0;
  left: 0px;
}
.wojo.small.radio.checkbox .box:before,
.wojo.small.radio.checkbox label:before {
  width: 16px;
  height: 16px;
}
.wojo.radio.checkbox .box:after,
.wojo.radio.checkbox label:after {
  border: none;
  content: '' !important;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.wojo.small.radio.checkbox .box:after,
.wojo.small.radio.checkbox label:after {
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.wojo.radio.checkbox .box:after,
.wojo.radio.checkbox label:after {
  top: 10px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 500rem;
  background-color: #33BFC1;
}
.wojo.small.radio.checkbox .box:after,
.wojo.small.radio.checkbox label:after {
  top: 8px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 500rem;
  background-color: #f9f9f9;
}
.wojo.radio.checkbox input:focus ~ .box:before,
.wojo.radio.checkbox input:focus ~ label:before {
  background-color: #FFFFFF;
}
.wojo.radio.checkbox input:focus ~ .box:after,
.wojo.radio.checkbox input:focus ~ label:after {
  background-color: rgba(0, 0, 0, 0.95);
}
.wojo.radio.checkbox input:indeterminate ~ .box:after,
.wojo.radio.checkbox input:indeterminate ~ label:after {
  opacity: 0;
}
.wojo.radio.checkbox input:checked ~ .box:before,
.wojo.radio.checkbox input:checked ~ label:before {
  background-color: #FFFFFF;
}
.wojo.radio.checkbox input:checked ~ .box:after,
.wojo.radio.checkbox input:checked ~ label:after {
  background-color: #33BFC1;
}
.wojo.radio.checkbox input:focus:checked ~ .box:before,
.wojo.radio.checkbox input:focus:checked ~ label:before {
  background-color: #FFFFFF;
}
.wojo.radio.checkbox input:focus:checked ~ .box:after,
.wojo.radio.checkbox input:focus:checked ~ label:after {
  background-color: #33BFC1;
}
/* == Slider == */
.wojo.slider.checkbox {
  min-height: 1.25rem;
}
.wojo.small.slider.checkbox {
  min-height: 1rem;
}
.wojo.slider.checkbox input {
  width: 3.5rem;
  height: 1.25rem;
}
.wojo.small.slider.checkbox input {
  width: 3.5rem;
  height: 1rem;
}
.wojo.slider.checkbox .box,
.wojo.slider.checkbox label {
  padding-left: 4.5rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.4);
}
.wojo.small.slider.checkbox .box,
.wojo.small.slider.checkbox label {
  padding-left: 4rem;
}
.wojo.slider.checkbox .box:before,
.wojo.slider.checkbox label:before {
  display: block;
  position: absolute;
  content: '';
  border: none !important;
  left: 0em;
  z-index: 1;
  top: 0.4rem;
  background-color: rgba(0, 0, 0, 0.05);
  width: 3.5rem;
  height: 0.21428571rem;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 500rem;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.wojo.small.slider.checkbox .box:before,
.wojo.small.slider.checkbox label:before {
  top: 0.4rem;
  width: 3rem;
  height: 0.21428571rem;
}
.wojo.slider.checkbox .box:after,
.wojo.slider.checkbox label:after {
  background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  border: none;
  box-shadow: 0px 1px 2px 0 #dddddd, 0px 0px 0px 1px #dddddd inset;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.25rem;
  left: 0em;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 500rem;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.wojo.small.slider.checkbox .box:after,
.wojo.small.slider.checkbox label:after {
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
  width: 1rem;
  height: 1rem;
  top: 0rem;
}
.wojo.slider.checkbox input:focus ~ .box:before,
.wojo.slider.checkbox input:focus ~ label:before {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}
.wojo.slider.checkbox .box:hover,
.wojo.slider.checkbox label:hover {
  color: rgba(0, 0, 0, 0.8);
}
.wojo.slider.checkbox .box:hover::before,
.wojo.slider.checkbox label:hover::before {
  background: rgba(0, 0, 0, 0.15);
}
.wojo.slider.checkbox input:checked ~ .box,
.wojo.slider.checkbox input:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.wojo.slider.checkbox input:checked ~ .box:before,
.wojo.slider.checkbox input:checked ~ label:before {
  background-color: #545454 !important;
}
.wojo.slider.checkbox input:checked ~ .box:after,
.wojo.slider.checkbox input:checked ~ label:after {
  left: 2rem;
  background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}
.wojo.slider.checkbox input:focus:checked ~ .box,
.wojo.slider.checkbox input:focus:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.wojo.slider.checkbox input:focus:checked ~ .box:before,
.wojo.slider.checkbox input:focus:checked ~ label:before {
  background-color: #000000 !important;
}
.wojo.slider.radio.checkbox input:focus:checked ~ .box:after,
.wojo.slider.radio.checkbox input:focus:checked ~ label:after {
  background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}
.wojo.toggle.checkbox {
  min-height: 1.5rem;
}
.wojo.toggle.checkbox input {
  width: 3.5rem;
  height: 1.5rem;
}
.wojo.toggle.small.checkbox {
  min-height: 1rem;
}
.wojo.toggle.small.checkbox input {
  width: 3rem;
  height: 1rem;
}
.wojo.toggle.checkbox .box,
.wojo.toggle.checkbox label {
  min-height: 1.5rem;
  padding-left: 4.5rem;
  color: rgba(0, 0, 0, 0.87);
}
.wojo.toggle.small.checkbox .box,
.wojo.toggle.small.checkbox label {
  min-height: 1rem;
  padding-left: 4rem;
  color: rgba(0, 0, 0, 0.87);
}
.wojo.toggle.checkbox label {
  padding-top: 0.15em;
}
.wojo.toggle.checkbox .box:before,
.wojo.toggle.checkbox label:before {
  display: block;
  position: absolute;
  content: '';
  z-index: 1;
  border: none;
  top: 50%;
  background: rgba(0, 0, 0, 0.05);
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 500rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wojo.toggle.small.checkbox .box:before,
.wojo.toggle.small.checkbox label:before {
  width: 3rem;
  height: .875rem;
}
.wojo.toggle.checkbox .box:after,
.wojo.toggle.checkbox label:after {
  background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  border: none;
  box-shadow: 0px 1px 2px 0 #dddddd, 0px 0px 0px 1px #dddddd inset;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 0em;
  border-radius: 500rem;
  -webkit-transition: background 0.3s ease, left 0.3s ease;
  transition: background 0.3s ease, left 0.3s ease;
}
.wojo.toggle.small.checkbox .box:after,
.wojo.toggle.small.checkbox label:after {
  box-shadow: 0px 0px 1px 0 #dddddd, 0px 0px 0px 1px #dddddd inset;
  width: 1.25rem;
  height: 1.25rem;
}
.wojo.toggle.checkbox input ~ .box:after,
.wojo.toggle.checkbox input ~ label:after {
  left: -0.05rem;
}
.wojo.toggle.checkbox input:focus ~ .box:before,
.wojo.toggle.checkbox input:focus ~ label:before {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}
.wojo.toggle.checkbox .box:hover::before,
.wojo.toggle.checkbox label:hover::before {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}
.wojo.toggle.checkbox input:checked ~ .box,
.wojo.toggle.checkbox input:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.wojo.toggle.checkbox input:checked ~ .box:before,
.wojo.toggle.checkbox input:checked ~ label:before {
  background-color: #33BFC1 !important;
}
.wojo.toggle.checkbox input:checked ~ .box:after,
.wojo.toggle.checkbox input:checked ~ label:after {
  left: 2.15rem;
}
.wojo.toggle.checkbox input:focus:checked ~ .box,
.wojo.toggle.checkbox input:focus:checked ~ label {
  color: rgba(0, 0, 0, 0.95) !important;
}
.wojo.toggle.checkbox input:focus:checked ~ .box:before,
.wojo.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #33BFC1 !important;
}
/* == Variations == */
.wojo.fitted.checkbox .box,
.wojo.fitted.checkbox label {
  padding-left: 0em !important;
}
.wojo.fitted.toggle.checkbox,
.wojo.fitted.toggle.checkbox {
  width: 3.5rem;
}
.wojo.fitted.slider.checkbox,
.wojo.fitted.slider.checkbox {
  width: 3.5rem;
}
.wojo.checkbox label:after,
.wojo.checkbox .box:after {
  font-family: 'WojoIcons';
}
.wojo.checkbox input:checked ~ .box:after,
.wojo.checkbox input:checked ~ label:after {
  content: '\e04e';
  font-size: 12px;
}
.wojo.checkbox input:indeterminate ~ .box:after,
.wojo.checkbox input:indeterminate ~ label:after {
  content: '\e0dd';
}
/* == Range Slider == */
.slider-container {
  margin-top: 1.5em;
  width: 100%;
}
.slider-container .back-bar {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 6px;
  position: relative;
}
.slider-container .back-bar .pointer {
  background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  border-radius: 500px;
  box-shadow: 0 1px 2px 0 #dddddd, 0 0 0 1px #ddd inset;
  box-sizing: border-box;
  cursor: col-resize;
  height: 1rem;
  opacity: 1;
  position: absolute;
  top: -.35em;
  width: 1rem;
  z-index: 2;
}
.slider-container .back-bar .pointer-label {
  color: #939599;
  font-family: 'mavenProBold';
  font-size: .625rem;
  line-height: 1;
  position: absolute;
  top: -1.75em;
  white-space: nowrap;
}
.slider-container .back-bar .pointer.last-active {
  z-index: 3;
}
.slider-container .back-bar .pointer-label.focused {
  color: #3D4051;
}
.slider-container .back-bar .selected-bar {
  background-color: #33BFC1;
  border-radius: 2px;
  height: 100%;
  position: absolute;
}
.slider-container .clickable-dummy {
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.slider-container .scale {
  position: relative;
  top: .75em;
}
.slider-container .scale ins {
  color: #939599;
  font-family: 'mavenProBold';
  font-size: .625rem;
  left: 0;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 1em;
}
.slider-container .scale span {
  border-left: 1px solid #e5e5e5;
  font-size: 0;
  height: 5px;
  position: absolute;
}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
  cursor: auto;
}
/* == Image Select == */
.ezdz-dropzone {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: table;
  text-align: center;
  background-color: #fff;
  border: 1px solid #DDDDDD;
  border-radius: .188rem;
  padding: 0px;
  margin: 0 auto;
}
.ezdz-dropzone.square {
  width: 100%;
  height: 100%;
  border-radius: 0.188rem;
}
.ezdz-dropzone.inverted {
  background-color: #F5F5F5;
}
.ezdz-dropzone.left {
  margin: 0;
}
.ezdz-dropzone > div {
  display: table-cell;
  vertical-align: middle;
  max-width: 150px;
  max-height: 150px;
}
.ezdz-dropzone.square > div {
  width: 100%;
  height: 300px;
  font-size: .775rem;
  text-transform: uppercase;
  font-family: 'mavenProDemi';
}
.ezdz-dropzone.square > div i.icon {
  font-size: 2.75rem;
  border-radius: 500rem;
  width: 6rem;
  height: 6rem;
  background: #E5E5E5;
  line-height: 6rem;
  margin-bottom: .25em;
  color: #A0A0A0
}
.ezdz-dropzone span {
  display: inline-block;
  max-width: 90%;
  padding: 4%;
  overflow: hidden;
  font-size: 13px;
  font-weight: normal;
  line-height: 10px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  background: black;
  border-radius: 20px
}
.ezdz-dropzone img {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  border-radius: .188em;
  z-index: 3
}
.ezdz-dropzone.square img {
  max-width: 100%;
  max-height: 100%;
}
.ezdz-dropzone [type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0
}
.ezdz-focus,
.ezdz-dropzone:hover {
  color: #9ACA40;
  border: 1px solid #33BFC1;
}
.ezdz-accept {
  color: #3FC59D;
  border: 1px solid #3FC59D;
}
.ezdz-enter {
  color: #33BFC1;
  border: 1px solid #33BFC1;
}
.ezdz-reject {
  color: #E2747E;
  border: 1px solid #E2747E;
}
/* == Color Picker == */
.sp-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
 *display: inline;
 *zoom: 1;
  z-index: 9999994;
  overflow: hidden;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0 12px 24px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.1);
  border: 1px solid #dddddd;
}
.sp-container.sp-flat {
  position: relative;
}
.sp-container,
.sp-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.sp-top {
  position: relative;
  width: 100%;
  display: inline-block;
}
.sp-top-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sp-color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%;
}
.sp-hue {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84%;
  height: 100%;
}
.sp-clear-enabled .sp-hue {
  top: 33px;
  height: 77.5%;
}
.sp-fill {
  padding-top: 80%;
}
.sp-sat,
.sp-val {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sp-alpha-enabled .sp-top {
  margin-bottom: 18px;
}
.sp-alpha-enabled .sp-alpha {
  display: block;
}
.sp-alpha-handle {
  position: absolute;
  top: -4px;
  bottom: -4px;
  width: 6px;
  left: 50%;
  cursor: pointer;
  border: 1px solid black;
  background: white;
  opacity: .8;
}
.sp-alpha {
  display: none;
  position: absolute;
  bottom: -14px;
  right: 0;
  left: 0;
  height: 8px;
}
.sp-alpha-inner {
  border: solid 1px #333;
  border-radius: 0.188em
}
.sp-clear {
  display: none;
}
.sp-clear-enabled .sp-clear {
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 84%;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
/* Don't allow text selection */
.sp-container,
.sp-replacer,
.sp-preview,
.sp-dragger,
.sp-slider,
.sp-alpha,
.sp-clear,
.sp-alpha-handle,
.sp-container.sp-dragging .sp-input,
.sp-container button {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.sp-container.sp-input-disabled .sp-input-container {
  display: none;
}
.sp-container.sp-buttons-disabled .sp-button-container {
  display: none;
}
.sp-container.sp-palette-buttons-disabled .sp-palette-button-container {
  display: none;
}
.sp-palette-only .sp-picker-container {
  display: none;
}
.sp-palette-disabled .sp-palette-container {
  display: none;
}
.sp-initial-disabled .sp-initial {
  display: none;
}
/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */
.sp-sat {
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
}
.sp-val {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
}
.sp-hue {
  background: -moz-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -ms-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -o-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
}
/* IE filters do not support multiple color stops.
   Generate 6 divs, line them up, and do two color gradients for each.
   Yes, really.
 */
.sp-1 {
  height: 17%;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ffff00');
}
.sp-2 {
  height: 16%;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#00ff00');
}
.sp-3 {
  height: 17%;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#00ffff');
}
.sp-4 {
  height: 17%;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#0000ff');
}
.sp-5 {
  height: 16%;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ff00ff');
}
.sp-6 {
  height: 17%;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}
.sp-hidden {
  display: none !important;
}
/* Clearfix hack */
.sp-cf:before,
.sp-cf:after {
  content: "";
  display: table;
}
.sp-cf:after {
  clear: both;
}
.sp-cf {
*zoom: 1;
}

/* Mobile devices, make hue slider bigger so it is easier to slide */
@media (max-device-width: 480px) {
.sp-color {
  right: 40%;
}
.sp-hue {
  left: 63%;
}
.sp-fill {
  padding-top: 60%;
}
}
.sp-dragger {
  border-radius: 10px;
  height: 10px;
  width: 10px;
  box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.sp-slider {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 3px;
  left: -1px;
  right: -1px;
  border: 1px solid #000;
  background: white;
  opacity: .8;
}
.sp-container,
.sp-container button,
.sp-container input,
.sp-color,
.sp-hue,
.sp-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .750rem;
}
.sp-top {
  margin-bottom: 3px;
}
.sp-color,
.sp-hue,
.sp-clear {
  box-shadow: 0 0 0 1px #dddddd
}
/* Input */
.sp-input-container {
  float: right;
  width: 100px;
  margin-bottom: .5em;
}
.sp-initial-disabled .sp-input-container {
  width: 100%;
}
.sp-input {
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1em;
  padding: 0.75em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid #dddddd;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.188rem;
  box-shadow: none;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  width: 100%;
}
.sp-input:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #33BFC1;
  border-radius: 0.188rem;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}
.sp-input.sp-validation-error {
  border: 1px solid #da9796;
  color: #da9796;
}
.sp-picker-container,
.sp-palette-container {
  float: left;
  position: relative;
  padding: 10px;
  padding-bottom: 300px;
  margin-bottom: -290px;
}
.sp-picker-container {
  width: 172px;
  border-left: solid 1px #fff;
}
/* Palettes */
.sp-palette-container {
  border-right: solid 1px #ccc;
}
.sp-palette-only .sp-palette-container {
  border: 0;
}
.sp-palette .sp-thumb-el {
  display: block;
  position: relative;
  float: left;
  width: 24px;
  height: 15px;
  margin: 3px;
  cursor: pointer;
  border: solid 2px transparent;
}
.sp-palette .sp-thumb-el:hover,
.sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: orange;
}
.sp-thumb-el {
  position: relative;
}
/* Initial */
.sp-initial {
  float: left;
  border: solid 1px #333;
}
.sp-initial span {
  width: 30px;
  height: 25px;
  border: none;
  display: block;
  float: left;
  margin: 0;
}
/* Buttons */
.sp-palette-button-container,
.sp-button-container {
  float: right;
}
/* Replacer (the little preview div that shows up instead of the <input>) */
.sp-replacer {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
 *zoom: 1;
  border: solid 1px #91765d;
  background: #eee;
  color: #333;
  vertical-align: middle;
}
.sp-replacer:hover,
.sp-replacer.sp-active {
  border-color: #F0C49B;
  color: #111;
}
.sp-replacer.sp-disabled {
  cursor: default;
  border-color: silver;
  color: silver;
}
.sp-dd {
  padding: 2px 0;
  height: 16px;
  line-height: 16px;
  float: left;
  font-size: 10px;
}
.sp-preview {
  position: relative;
  width: 25px;
  height: 20px;
  border: solid 1px #222;
  margin-right: 5px;
  float: left;
  z-index: 0;
}
.sp-palette {
 *width: 220px;
  max-width: 220px;
}
.sp-palette .sp-thumb-el {
  width: 16px;
  height: 16px;
  margin: 2px 1px;
  border: solid 1px #d0d0d0;
}
.sp-container {
  padding-bottom: 0;
}
/* Buttons: http://hellohappy.org/css3-buttons/ */
.sp-container button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'mavenProBold';
  margin: 0em 0.25em 0em 0em;
  padding: 0.750em 1.5em 0.750em;
  text-transform: none;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.188rem;
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.5) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}
.sp-container button:hover {
  background-color: #EBEBEB;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px #dddddd inset;
  color: rgba(0, 0, 0, 0.8);
}
.sp-container button:active {
  background-color: #E1E1E1;
  box-shadow: 0px 0px 0px 1px transparent inset;
  color: rgba(0, 0, 0, 0.95);
}
.sp-cancel {
  font-size: .875em;
  margin: 0;
  padding: 2px;
  margin-right: 5px;
  vertical-align: middle;
  text-decoration: none;
}
.sp-cancel:hover {
  text-decoration: underline;
}
.sp-palette span:hover,
.sp-palette span.sp-thumb-active {
  border-color: #000;
}
.sp-preview,
.sp-alpha,
.sp-thumb-el {
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}
.sp-preview-inner,
.sp-alpha-inner,
.sp-thumb-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sp-palette .sp-thumb-inner {
  font-family: 'WojoIcons';
  text-align: center;
  line-height: 16px
}
.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner:after {
  content: "\e04e";
  color: #000
}
.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner:after {
  content: "\e04e";
  color: #fff
}
.sp-palette-only .sp-palette-container .sp-palette .sp-thumb-inner {
}
.sp-palette-only .sp-palette-container .sp-palette .sp-thumb-el {
  width: 55px;
  height: 55px;
  margin: 0;
  border: 0;
}
.sp-palette-only .sp-palette-container .sp-palette .sp-thumb-inner {
  line-height: 50px;
  box-shadow: 0 0 0 1px #FFFFFF;
}
/* == Editable Content == */
[contenteditable=true]:empty:before {
  content: attr(placeholder);
}
[contenteditable=true] {
  background-color: #EAF4F8;
}
[data-editable=true]:before {
  font-family : "WojoIcons";
  content: "\e14b";
  margin-right: .5em;
  vertical-align: middle;
  opacity: .35
}
span[data-editable=true] {
  display: inline-block;
  padding: .5em;
}
.wojo.editable {
  box-shadow: inset 0 0 0 2px #9ACA40, 0 0 3px 2px rgba(0,0,0,0.1);
  outline: none;
  border: 0;
  -webkit-appearance: none;
  background-color: #fff;
  color: #2F323A;
}
/* == Fields == */
.wojo.fields {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-left: -2em;
}
.wojo.fields .field {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  min-width: 0;
  padding-left: 2em;
  margin-bottom: 2em;
}
.wojo.block.fields {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
  margin-left: 0;
  margin-bottom: 0;
}
.wojo.block.fields .field {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  align-self: auto;
  min-width: 0;
  padding-left: 0;
  margin-bottom: 2em;
}
.wojo.fields .field.one.wide {
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}
.wojo.fields .field.two.wide {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.wojo.fields .field.three.wide {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.wojo.fields .field.four.wide {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.wojo.fields .field.five.wide {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.wojo.fields .field.six.wide {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.wojo.fields .field.seven.wide {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.wojo.fields .field.eight.wide {
  -webkit-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.wojo.fields .field.nine.wide {
  -webkit-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}
.field.align-middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.field.align-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.field.align-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.wojo.inline.fields {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wojo.inline.fields .field {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-bottom: 0;
}
.wojo.fields .basic.field,
.basic.field {
  margin-bottom: 0
}
.wojo.fields .fitted.field,
.fitted.field {
  padding-left: 0
}
.wojo.fields .field.shrink {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}
/* == Disabled == */
.wojo.fields.disabled .field,
.wojo.fields .field :disabled {
  pointer-events: none;
  opacity: 0.45;
}
.wojo.fields .field.disabled label {
  opacity: 0.45;
}
.wojo.fields .field.disabled :disabled {
  opacity: 1;
}
/*
.wojo.form .wojo.fields:last-child,
.wojo.form .wojo.block.fields .field:last-child {
  margin-bottom: 0
}
*/
/* == Size == */
.wojo.mini.form {
  font-size: 0.688em;
}
.wojo.small.form {
  font-size: 0.875rem;
}
.wojo.form {
  font-size: 1rem;
}
.wojo.large.form {
  font-size: 1.125rem;
}
.wojo.huge.form {
  font-size: 1.375rem;
}

@media screen and (max-width:48.063em) {
.wojo.fields {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 0;
}
.wojo.fields .field,
.wojo.fields .field.one.wide,
.wojo.fields .field.two.wide,
.wojo.fields .field.three.wide,
.wojo.fields .field.four.wide,
.wojo.fields .field.five.wide,
.wojo.fields .field.six.wide,
.wojo.fields .field.seven.wide,
.wojo.fields .field.eight.wide,
.wojo.fields .field.nine.wide {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  min-width: 0;
  padding-left: 0
}
.wojo.fields .field.labeled {
  margin-bottom: 0
}
.wojo.inline.fields {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -2em;
}
.wojo.inline.fields .field {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding-left: 2em;
}
}