/* == Progress == */
.wojo.progress {
  position: relative;
  display: block;
  max-width: 100%;
  border: none;
  margin: 0;
  box-shadow: none;
  background-color: #E2E1E6;
  padding: 0em;
  border-radius: 0.28571429rem;
}
.wojo.progress:first-child {
  margin: 0em 0em 2.5em;
}
.wojo.progress:last-child {
  margin: 0em 0em 1.5em;
}
/* == Content == */
.wojo.progress .bar {
  display: block;
  line-height: 1;
  position: relative;
  width: 0%;
  min-width: 0em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.188rem;
  -webkit-transition: width 0.1s ease, background-color 0.1s ease;
  transition: width 0.1s ease, background-color 0.1s ease;
}
.wojo.progress .bar > .progress {
  white-space: nowrap;
  position: absolute;
  width: auto;
  font-size: 0.92857143em;
  top: 50%;
  right: 0.5em;
  left: auto;
  bottom: auto;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  margin-top: -0.5em;
  font-weight: bold;
  text-align: left;
}
/* == Label == */
.wojo.progress > .label {
  position: absolute;
  width: 100%;
  font-size: 1em;
  top: 100%;
  right: auto;
  left: 0%;
  bottom: auto;
  color: rgba(0, 0, 0, 0.87);
  text-shadow: none;
  font-family: 'mavenProBold';
  margin-top: 0.2em;
  text-align: center;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.wojo.progress > .small.label {
  font-size: .750em;
  font-family: 'mavenProDemi';
}
/* == Types == */
.wojo.indicating.progress[data-percent^="1"] .bar,
.wojo.indicating.progress[data-percent^="2"] .bar {
  background-color: #f44336;
}
.wojo.indicating.progress[data-percent^="3"] .bar {
  background-color: #ff9800;
}
.wojo.indicating.progress[data-percent^="4"] .bar,
.wojo.indicating.progress[data-percent^="5"] .bar {
  background-color: #ffc107;
}
.wojo.indicating.progress[data-percent^="6"] .bar {
  background-color: #ffeb3b;
}
.wojo.indicating.progress[data-percent^="7"] .bar,
.wojo.indicating.progress[data-percent^="8"] .bar {
  background-color: #4caf50;
}
.wojo.indicating.progress[data-percent^="9"] .bar,
.wojo.indicating.progress[data-percent^="100"] .bar {
  background-color: #3FC59D;
}
.wojo.indicating.progress[data-percent^="1"] .label,
.wojo.indicating.progress[data-percent^="2"] .label {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.indicating.progress[data-percent^="3"] .label {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.indicating.progress[data-percent^="4"] .label,
.wojo.indicating.progress[data-percent^="5"] .label {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.indicating.progress[data-percent^="6"] .label {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.indicating.progress[data-percent^="7"] .label,
.wojo.indicating.progress[data-percent^="8"] .label {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.indicating.progress[data-percent^="9"] .label,
.wojo.indicating.progress[data-percent^="100"] .label {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.indicating.progress[data-percent="1"] .bar,
.wojo.indicating.progress[data-percent="2"] .bar,
.wojo.indicating.progress[data-percent="3"] .bar,
.wojo.indicating.progress[data-percent="4"] .bar,
.wojo.indicating.progress[data-percent="5"] .bar,
.wojo.indicating.progress[data-percent="6"] .bar,
.wojo.indicating.progress[data-percent="7"] .bar,
.wojo.indicating.progress[data-percent="8"] .bar,
.wojo.indicating.progress[data-percent="9"] .bar {
  background-color: #E2747E;
}
.wojo.indicating.progress[data-percent="1"] .label,
.wojo.indicating.progress[data-percent="2"] .label,
.wojo.indicating.progress[data-percent="3"] .label,
.wojo.indicating.progress[data-percent="4"] .label,
.wojo.indicating.progress[data-percent="5"] .label,
.wojo.indicating.progress[data-percent="6"] .label,
.wojo.indicating.progress[data-percent="7"] .label,
.wojo.indicating.progress[data-percent="8"] .label,
.wojo.indicating.progress[data-percent="9"] .label {
  color: rgba(0, 0, 0, 0.87);
}
.wojo.indicating.progress.success .label {
  color: #6CBB6F;
}
/* == States == */
.wojo.progress.success .bar {
  background-color: #6CBB6F !important;
}
.wojo.progress.success .bar,
.wojo.progress.success .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}
.wojo.progress.success > .label {
  color: #6CBB6F;
}
.wojo.progress.warning .bar {
  background-color: #FBA92F !important;
}
.wojo.progress.warning .bar,
.wojo.progress.warning .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}
.wojo.progress.warning > .label {
  color: #FBA92F;
}
.wojo.progress.error .bar {
  background-color: #49A7F1 !important;
}
.wojo.progress.error .bar,
.wojo.progress.error .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}
.wojo.progress.error > .label {
  color: #49A7F1;
}
.wojo.progress.transparent .bar {
  background-color: rgba(255,255,255,0.5) !important;
}
.wojo.active.progress .bar {
  position: relative;
  min-width: 2em;
}
.wojo.active.progress .bar::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ffffff;
  border-radius: 0.28571429rem;
  -webkit-animation: progress-active 2s ease infinite;
  animation: progress-active 2s ease infinite;
}
@-webkit-keyframes progress-active {
 0% {
 opacity: 0.3;
 width: 0;
}
 100% {
 opacity: 0;
 width: 100%;
}
}
@keyframes progress-active {
 0% {
 opacity: 0.3;
 width: 0;
}
 100% {
 opacity: 0;
 width: 100%;
}
}
.wojo.disabled.progress {
  opacity: 0.35;
}
.wojo.disabled.progress .bar,
.wojo.disabled.progress .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}
/* == Variations == */
.wojo.progress.attached {
  background: transparent;
  position: relative;
  border: none;
  margin: 0em;
}
.wojo.progress.attached,
.wojo.progress.attached .bar {
  display: block;
  height: 3px;
  padding: 0px;
  overflow: hidden;
  border-radius: 0;
}
.wojo.progress.attached .bar {
  border-radius: 0em;
}
.wojo.progress.top.attached,
.wojo.progress.top.attached .bar {
  top: 0px;
  border-radius: 0;
}
.wojo.progress.top.attached .bar {
  border-radius: 0em;
}
.wojo.segment > .wojo.attached.progress,
.wojo.card > .wojo.attached.progress,
.wojo.list .item > .wojo.attached.progress,
.wojo.flex .wojo.attached.progress {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 100%;
  width: 100%;
}
.wojo.segment > .wojo.bottom.attached.progress,
.wojo.card > .wojo.bottom.attached.progress,
.wojo.list .item > .wojo.bottom.attached.progress,
.wojo.flex .wojo.bottom.progress {
  top: 100%;
  bottom: auto;
}
.wojo.progress .bar {
  height: 1.75em;
}
.wojo.pointing.progress,
.wojo.pointing.progress:first-child,
.wojo.pointing.progress:last-child {
  margin: 0;
  height: 2px;
}
.wojo.pointing.progress .bar {
  height: 2px;
}
.wojo.pointing.progress .bar:after {
  height: 6px;
  width: 6px;
  right: 0;
  top: 50%;
  border-radius: 500em;
  background-color: #2B3D4C;
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* == Sizes == */
.wojo.mini.progress {
  font-size: 0.625rem;
  border-radius: .063rem
}
.wojo.mini.progress .bar {
  height: 0.35em;
  border-radius: .063rem
}
.wojo.tiny.progress {
  font-size: 0.85714286rem;
  border-radius: .063rem
}
.wojo.tiny.progress .bar {
  height: 0.5em;
  border-radius: .063rem
}
.wojo.small.progress {
  font-size: 0.92857143rem;
  border-radius: .125rem
}
.wojo.small.progress .bar {
  height: 1em;
  border-radius: .125rem
}
.wojo.progress {
  font-size: 1rem;
}
.wojo.large.progress {
  font-size: 1.14285714rem;
}
.wojo.large.progress .bar {
  height: 2.5em;
}
.wojo.big.progress {
  font-size: 1.28571429rem;
}
.wojo.big.progress .bar {
  height: 3.5em;
}