*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block
}
audio,
canvas,
video {
  display: inline-block
}
video {
  width: 100%;
  height: auto
}
audio:not([controls]) {
  display: none !important;
  height: 0
}
[hidden] {
  display: none
}
a:focus {
  outline: thin dotted
}
a:active,
a:hover {
  outline: 0
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}
abbr[title] {
  border-bottom: 1px dotted
}
b,
strong {
  font-weight: bold
}
dfn {
  font-style: italic
}
mark {
  background: #ff0;
  color: #000
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}
code {
  display: block;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border-left: 5px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border-left: 5px solid #ccc;
  border-radius: 4px
}
blockquote {
  background: #F9F9F9;
  border-radius: 0.188rem;
  padding: 1em 2em;
  position: relative;
}
blockquote p {
  font-family: "georgia", "times new roman", "times", serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 170%;
  margin-left: 1em;
}
blockquote small {
  margin-top: 1em;
  display: inline-block;
  font-size: 1em;
}
blockquote p:first-child:before {
  color: #CCCCCC;
  content: "\e108";
  font-family: 'WojoIcons';
  font-size: 1.5em;
  left: 0;
  position: absolute;
  top: .5em;
}
blockquote p:last-child:after {
  bottom: 2px;
  color: #CCCCCC;
  content: "\e108";
  font-family: 'WojoIcons';
  font-size: 22px;
  position: absolute;
  right: 10px;
}
blockquote p:last-child {
  padding: 0;
}
blockquote.pullquote.alignright {
  margin-left: 20px;
  display: inline;
  float: right;
}
blockquote.pullquote {
  width: 40%;
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -0.5em
}
sub {
  bottom: -0.25em
}
cite {
  font-style: normal
}
img {
  border: 0 none;
  vertical-align: top;
  width: auto;
  max-width: 100%;
  max-height: auto;
}
svg:not(:root) {
  overflow: hidden
}
figure {
  margin: 0;
  line-height: 0;
  position: relative
}
fieldset {
  border: 1px solid silver;
  margin: 0;
  padding: .35em .625em .75em
}
legend {
  border: 0;
  padding: 0
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1
}
.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative;
}
.flex-video.widescreen {
  padding-bottom: 56.34%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.not-allowed {
  cursor: not-allowed
}
.content-left {
  text-align: left
}
.content-center {
  text-align: center
}
.content-right {
  text-align: right
}
.show-all {
  display: inherit
}
.hide-all {
  display: none
}
.hidden {
  visibility:hidden;
}
.relative {
  position: relative
}
.absolute {
  position: absolute
}
.push-right {
  float:right;
}
.wojo-grid {
  width: auto;
  max-width: 1280px;
  margin: 0 auto;
}
/* == Padding == */
.vertical-padding {
  padding: 2em 0;
}
.horizontal-padding {
  padding: 0 2em;
}
.half-padding {
  padding: 1em;
}
.half-vertical-padding {
  padding: 1em 0;
}
.half-horizontal-padding {
  padding: 0 1em;
}
.half-top-padding {
  padding-top: 1em;
}
.half-bottom-padding {
  padding-bottom: 1em;
}
.half-left-padding {
  padding-left: 1em;
}
.half-right-padding {
  padding-right: 1em;
}
.padding-right {
  padding-right: 2em;
}
.padding-left {
  padding-left: 2em;
}
.padding-top {
  padding-top: 2em;
}
.padding-bottom {
  padding-bottom: 2em;
}
.padding {
  padding: 2em;
}
/* == Margin == */
.vertical-margin {
  margin: 2em 0;
}
.horizontal-margin {
  margin: 0 2em;
}
.half-margin {
  margin: 1em;
}
.half-vertical-margin {
  margin: 1em 0;
}
.half-horizontal-margin {
  margin: 0 1em;
}
.half-top-margin {
  margin-top: 1em;
}
.half-bottom-margin {
  margin-bottom: 1em;
}
.half-left-margin {
  margin-left: 1em;
}
.half-right-margin {
  margin-right: 1em;
}
.margin-right {
  margin-right: 2em;
}
.margin-left {
  margin-left: 2em;
}
.margin-top {
  margin-top: 2em;
}
.margin-bottom {
  margin-bottom: 2em;
}
.margin {
  margin: 2em;
}
.row {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.row .row {
  max-width: none;
}
.row.blocks {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.row.blocks .columns,
.row.blocks .column {
  flex: 0 1 auto;
  align-self: auto;
}
.row.double-gutters,
.row.double-horizontal-gutters {
  margin-left: -4em;
}
.row.gutters,
.row.horizontal-gutters {
  margin-left: -2em;
}
.row.half-gutters,
.row.half-horizontal-gutters {
  margin-left: -1em;
}
.row.double-gutters .column,
.row.double-gutters .columns {
  padding-left: 4em;
  margin-bottom: 4em;
}
.row.gutters .column,
.row.gutters .columns {
  padding-left: 2em;
  margin-bottom: 2em;
}
.row.half-gutters .column,
.row.half-gutters .columns {
  padding-left: 1em;
  margin-bottom: 1em;
}
.row.double-horizontal-gutters .column,
.row.double-horizontal-gutters .columns,
.row.horizontal-gutters .column,
.row.horizontal-gutters .columns,
.row.half-horizontal-gutters .column,
.row.half-horizontal-gutters .columns {
  padding-left: 4em;
  margin-bottom: 0;
}
.row.horizontal-gutters .column,
.row.horizontal-gutters .columns {
  padding-left: 2em;
}
.row.half-horizontal-gutters .column,
.row.half-horizontal-gutters .columns {
  padding-left: 1em;
}
.row.double-vertical-gutters .column,
.row.double-vertical-gutters .columns,
.row.vertical-gutters .column,
.row.vertical-gutters .columns,
.row.half-vertical-gutters .column,
.row.half-vertical-gutters .columns {
  padding-left: 0;
  margin-bottom: 4em;
}
.row.vertical-gutters .column,
.row.vertical-gutters .columns {
  margin-bottom: 2em;
}
.row.half-vertical-gutters .column,
.row.half-vertical-gutters .columns {
  margin-bottom: 1em;
}
.row.no-gutters .column,
.row.no-gutters .columns {
  margin-bottom: 0;
}
.row.no-all-gutters .column,
.row.no-all-gutters .columns {
  margin-bottom: 0;
  padding-left: 0;
}
.column,
.columns {
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  min-width: 0;
}
.column.row.row,
.row.row.columns {
  float: none;
  display: block;
}
.row .column.row.row,
.row .row.row.columns {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.shrink {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}
.column.align-top,
.align-top.columns {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.column.align-bottom,
.align-bottom.columns {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.column.align-middle,
.align-middle.columns {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.column.align-stretch,
.align-stretch.columns {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.align-right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.align-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.align-justify {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.align-spaced {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.align-top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-self-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.align-bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-self-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.align-middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-self-middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.align-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.align-self-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

@media screen and (min-width: 64.063em) {
.wojo-grid {
  padding: 0 2rem;
}
.screen-10 {
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}
.screen-offset-0 {
  margin-left: 0%;
}
.screen-20 {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.screen-offset-10 {
  margin-left: 10%;
}
.screen-30 {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.screen-offset-20 {
  margin-left: 20%;
}
.screen-40 {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.screen-offset-30 {
  margin-left: 30%;
}
.screen-50 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.screen-offset-40 {
  margin-left: 40%;
}
.screen-60 {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.screen-offset-50 {
  margin-left: 50%;
}
.screen-70 {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.screen-offset-60 {
  margin-left: 60%;
}
.screen-80 {
  -webkit-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.screen-offset-7 {
  margin-left: 70%;
}
.screen-90 {
  -webkit-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}
.screen-offset-80 {
  margin-left: 80%;
}
.screen-100 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.screen-offset-90 {
  margin-left: 90%;
}
.screen-block-1,
.screen-block-2,
.screen-block-3,
.screen-block-4,
.screen-block-5,
.screen-block-6,
.screen-block-7,
.screen-block-8 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.screen-block-1 > .column {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.screen-block-2 > .column {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.screen-block-3 > .column {
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.screen-block-4 > .column {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.screen-block-5 > .column {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.screen-block-6 > .column {
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.screen-block-7 > .column {
  -webkit-flex: 0 0 14.28571%;
  -ms-flex: 0 0 14.28571%;
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}
.screen-block-8 > .column {
  -webkit-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.screen-order-1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.screen-order-2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.screen-order-3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.screen-order-4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}
.screen-order-5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}
.screen-order-6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}
.screen-content-left {
  text-align: left;
}
.screen-content-center {
  text-align: center;
}
.screen-content-right {
  text-align: right;
}
.screen-right-divider {
  box-shadow: inset -1px 0 0 0 #DDDDDD;
}
.screen-left-divider {
  box-shadow: inset 1px 0 0 0 #DDDDDD;
}
}

@media screen and (min-width:40.625em) and (max-width:64em) {
.wojo-grid {
  padding: 0 1.75rem;
}
.tablet-10 {
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}
.tablet-offset-0 {
  margin-left: 0%;
}
.tablet-20 {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.tablet-offset-10 {
  margin-left: 10%;
}
.tablet-30 {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.tablet-offset-20 {
  margin-left: 20%;
}
.tablet-40 {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.tablet-offset-30 {
  margin-left: 30%;
}
.tablet-50 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.tablet-offset-40 {
  margin-left: 40%;
}
.tablet-60 {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.tablet-offset-50 {
  margin-left: 50%;
}
.tablet-70 {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.tablet-offset-60 {
  margin-left: 60%;
}
.tablet-80 {
  -webkit-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.tablet-offset-70 {
  margin-left: 70%;
}
.tablet-90 {
  -webkit-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}
.tablet-offset-80 {
  margin-left: 80%;
}
.tablet-100 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.tablet-offset-9 {
  margin-left: 90%;
}
.tablet-block-1,
.tablet-block-2,
.tablet-block-3,
.tablet-block-4,
.tablet-block-5,
.tablet-block-6,
.tablet-block-7,
.tablet-block-8 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tablet-block-1 > .column {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.tablet-block-2 > .column {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.tablet-block-3 > .column {
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.tablet-block-4 > .column {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.tablet-block-5 > .column {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.tablet-block-6 > .column {
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.tablet-block-7 > .column {
  -webkit-flex: 0 0 14.28571%;
  -ms-flex: 0 0 14.28571%;
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}
.tablet-block-8 > .column {
  -webkit-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.tablet-order-1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.tablet-order-2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.tablet-order-3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.tablet-order-4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}
.tablet-order-5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}
.tablet-order-6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}
.tablet-right-divider {
  box-shadow: inset -1px 0 0 0 #DDDDDD;
}
.tablet-left-divider {
  box-shadow: inset 1px 0 0 0 #DDDDDD;
}
}

@media screen and (max-width:48.063em) {
.wojo-grid {
  padding: 0 1.5rem;
}
.mobile-10 {
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}
.mobile-offset-0 {
  margin-left: 0%;
}
.mobile-20 {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.mobile-offset-10 {
  margin-left: 10%;
}
.mobile-30 {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.mobile-offset-20 {
  margin-left: 20%;
}
.mobile-40 {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.mobile-offset-30 {
  margin-left: 30%;
}
.mobile-50 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.mobile-offset-40 {
  margin-left: 40%;
}
.mobile-60 {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.mobile-offset-50 {
  margin-left: 50%;
}
.mobile-70 {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.mobile-offset-60 {
  margin-left: 60%;
}
.mobile-80 {
  -webkit-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.mobile-offset-70 {
  margin-left: 70%;
}
.mobile-90 {
  -webkit-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}
.mobile-offset-80 {
  margin-left: 80%;
}
.mobile-100 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.mobile-offset-90 {
  margin-left: 90%;
}
.mobile-block-1,
.mobile-block-2,
.mobile-block-3,
.mobile-block-4,
.mobile-block-5,
.mobile-block-6,
.mobile-block-7,
.mobile-block-8 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mobile-block-1 > .column {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.mobile-block-2 > .column {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.mobile-block-3 > .column {
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.mobile-block-4 > .column {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.mobile-block-5 > .column {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.mobile-block-6 > .column {
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.mobile-block-7 > .column {
  -webkit-flex: 0 0 14.28571%;
  -ms-flex: 0 0 14.28571%;
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}
.mobile-block-8 > .column{
  -webkit-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.mobile-order-1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.mobile-order-2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.mobile-order-3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.mobile-order-4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}
.mobile-order-5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}
.mobile-order-6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}
.row.double-gutters,
.row.double-horizontal-gutters {
  margin-left: -2em;
}
.row.gutters,
.row.horizontal-gutters {
  margin-left: -1em;
}
.row.half-gutters,
.row.half-horizontal-gutters {
  margin-left: -0.5em;
}
.row.double-gutters .column,
.row.double-gutters .columns {
  padding-left: 2em;
  margin-bottom: 2em;
}
.row.gutters .column,
.row.gutters .columns {
  padding-left: 1em;
  margin-bottom: 1em;
}
.row.half-gutters .column,
.row.half-gutters .columns {
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}
.row.double-horizontal-gutters .column,
.row.double-horizontal-gutters .columns,
.row.horizontal-gutters .column,
.row.horizontal-gutters .columns,
.row.half-horizontal-gutters .column,
 .row.half-horizontal-gutters .columns {
  padding-left: 2em;
  margin-bottom: 0;
}
.row.horizontal-gutters .column,
.row.horizontal-gutters .columns {
  padding-left: 1em;
}
.row.half-horizontal-gutters .column,
.row.half-horizontal-gutters .columns {
  padding-left: 0.5em;
}
.row.double-vertical-gutters .column,
.row.double-vertical-gutters .columns,
.row.vertical-gutters .column,
.row.vertical-gutters .columns,
.row.half-vertical-gutters .column,
.row.half-vertical-gutters .columns {
  padding-left: 0;
  margin-bottom: 2em;
}
.row.vertical-gutters .column,
.row.vertical-gutters .columns {
  margin-bottom: 1em;
}
.row.half-vertical-gutters .column,
.row.half-vertical-gutters .columns {
  margin-bottom: 0.5em;
}

.row.half-gutters-mobile .column,
.row.half-gutters-mobile .columns {
  padding-left: 1em;
  margin-bottom: 1em;
}
.mobile-flex-hide,
.mobile-hide {
  display: none
}
.mobile-content-left {
  text-align: left;
}
.mobile-content-center {
  text-align: center;
}
.mobile-content-right {
  text-align: right;
}
.screen-right-divider,
.tablet-right-divider,
.screen-left-divider,
.tablet-left-divider {
  box-shadow: none;
}
}

@media screen and (max-width:30em) {
.wojo-grid {
  padding: 0 1rem;
}
.phone-10 {
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}
.phone-offset-0 {
  margin-left: 0%;
}
.phone-20 {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.phone-offset-10 {
  margin-left: 10%;
}
.phone-30 {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.phone-offset-20 {
  margin-left: 20%;
}
.phone-40 {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.phone-offset-30 {
  margin-left: 30%;
}
.phone-50 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.phone-offset-40 {
  margin-left: 40%;
}
.phone-60 {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.phone-offset-50 {
  margin-left: 50%;
}
.phone-70 {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.phone-offset-60 {
  margin-left: 60%;
}
.phone-80 {
  -webkit-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.phone-offset-70 {
  margin-left: 70%;
}
.phone-90 {
  -webkit-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}
.phone-offset-80 {
  margin-left: 80%;
}
.phone-100 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.phone-offset-90 {
  margin-left: 90%;
}
.phone-block-1,
.phone-block-2,
.phone-block-3,
.phone-block-4,
.phone-block-5,
.phone-block-6,
.phone-block-7,
.phone-block-8 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.phone-block-1 > .column {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.phone-block-2 > .column {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.phone-block-3 > .column{
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.phone-block-4 > .column {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.phone-block-5 > .column {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.phone-block-6 > .column {
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.phone-block-7 > .column {
  -webkit-flex: 0 0 14.28571%;
  -ms-flex: 0 0 14.28571%;
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}
.phone-block-8 > .column {
  -webkit-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.phone-order-1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.phone-order-2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.phone-order-3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.phone-order-4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}
.phone-order-5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}
.phone-order-6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}
.row.double-gutters,
.row.double-horizontal-gutters {
  margin-left: -2em;
}
.row.gutters,
.row.horizontal-gutters {
  margin-left: -1em;
}
.row.half-gutters,
.row.half-horizontal-gutters {
  margin-left: -0.5em;
}
.row.double-gutters .column,
.row.double-gutters .columns {
  padding-left: 2em;
  margin-bottom: 2em;
}
.row.gutters .column,
.row.gutters .columns {
  padding-left: 1em;
  margin-bottom: 1em;
}
.row.half-gutters .column,
.row.half-gutters .columns {
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}
.row.double-horizontal-gutters .column,
.row.double-horizontal-gutters .columns,
.row.horizontal-gutters .column,
.row.horizontal-gutters .columns,
.row.half-horizontal-gutters .column,
.row.half-horizontal-gutters .columns {
  padding-left: 2em;
  margin-bottom: 0;
}
.row.horizontal-gutters .column,
.row.horizontal-gutters .columns {
  padding-left: 1em;
}
.row.half-horizontal-gutters .column,
.row.half-horizontal-gutters .columns {
  padding-left: 0.5em;
}
.row.double-vertical-gutters .column,
.row.double-vertical-gutters .columns,
.row.vertical-gutters .column,
.row.vertical-gutters .columns,
.row.half-vertical-gutters .column,
.row.half-vertical-gutters .columns {
  padding-left: 0;
  margin-bottom: 2em;
}
.row.vertical-gutters .column,
.row.vertical-gutters .columns {
  margin-bottom: 1em;
}
.row.half-vertical-gutters .column,
.row.half-vertical-gutters .columns {
  margin-bottom: 0.5em;
}
.phone-flex-hide,
.phone-hide {
  display: none
}
.phone-content-left {
  text-align: left!important;
}
.phone-content-center {
  text-align: center;
}
.phone-content-right {
  text-align: right;
}
.phone-padding {
  padding:1em;
}
.screen-right-divider,
.tablet-right-divider,
.screen-left-divider,
.tablet-left-divider {
  box-shadow: none;
}
}
/* == Debug Panel == */
#debug-panel {
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
#debug-panel #debug-panel-content {
  padding:.875em 1em;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.2);
  margin:0
}
#debug-panel #contentGeneral,
#debug-panel #contentParams,
#debug-panel #contentWarnings,
#debug-panel #contentErrors,
#debug-panel #contentQueries {
  background-color: #F2F5F7;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: .875em;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: .875em;
  height: 200px;
  overflow-y: auto
}
#debug-panel #contentQueries {
  color: #FF0000;
}
#debug-panel .icon{
  color: #161F27;
}
#debug-panel a.clear_session .icon{
  color: #FF0000;
}
#debug-panel pre {
  border: 0px;
  background-color: #FFFFFF;
}