/* == Font Size == */
.wojo.tiny.text {
  font-size: 0.688rem;
}
.wojo.mini.text {
  font-size: 0.750rem;
}
.wojo.small.text {
  font-size: 0.875rem;
}
.wojo.normal.text {
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
}
.wojo.medium.text {
  font-size: 1.25rem;
}
.wojo.large.text {
  font-size: 1.5rem;
}
.wojo.big.text {
  font-size: 2rem;
}
.wojo.huge.text {
  font-size: 4rem;
}
.wojo.massive.text {
  font-size: 6rem;
}
.wojo.gigant.text {
  font-size: 8rem;
}
.wojo.caps {
  text-transform: uppercase;
}
.wojo.dimmed.text {
  opacity: .5;
}
.wojo.very.dimmed.text {
  opacity: .85;
}
.wojo.thin.text {
  font-family: 'mavenProRegular';
}
.wojo.light.text {
  font-family: 'mavenProRegular';
}
.wojo.bold.text {
  font-family: 'mavenProDemi';
}
.wojo.thick.text {
  font-family: 'mavenProBold';
}
.wojo.italic.text {
  font-style: italic;
}
.wojo.primary.text {
  color: #41C7F9;
}
.wojo.secondary.text {
  color: #00bcd4;
}
.wojo.positive.text {
  color: #3FC59D;
}
.wojo.negative.text {
  color: #E2747E;
}
.wojo.white.text {
  color: #fff;
}
.wojo.black.text {
  color: #7F929C;
}
.wojo.primary.bg {
  background-color: #FDFDFD;
}
.wojo.secondary.bg {
  background-color: #F6F7F8;
}
.wojo.tertiary.bg {
  background-color: #e1f5fe;
}
.wojo.quaternary.bg {
  background-color: #F5F5F5;
}
.highlite {
  background-color: #fffde7;
}
.wojo.boxed {
  border: 1px solid #DDDDDD;
  border-radius: .250em;
}
.wojo.shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wojo.frame {
  box-shadow: 0 0 0 3px rgba(0,0,0,0.30);
}
/* == Scroller == */
.scrollbox_y,
.scrollbox_x {
  overflow: auto;
}
.scrolltrack {
  width: 6px;
  background: rgba(0, 0, 0, 0);
  margin-right: 8px;
  border-radius: 3px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrolltrack:hover,
.scrolltrack.dragging {
  background: #F5F5F5;
}
.scrollhandle {
  width: 4px;
  right: 0;
  background-color: #2B3D4C;
  border-radius: 3px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.scrolltrack:hover .scrollhandle,
.scrolltrack.dragging .scrollhandle {
  width: 6px;
}
.scrolltrackx {
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrollhandlex {
  height: 6px;
  width: 100%;
  background-color: #2B3D4C;
  border-radius: 3px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
/* == Tabs == */	
ul.wojo.tabs {
  margin: 0;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
ul.wojo.tabs,
ul.wojo.tabs li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  position: relative;
}
ul.wojo.tabs li {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: 40px;
  padding-left: 2em;
  margin-right: .5em;
  background-image: url(../images/tabs.png);
  background-repeat: no-repeat;
  background-position: 0 -120px;
}
ul.wojo.tabs li.active:first-child {
  background-position: 0 -80px;
}
ul.wojo.tabs li a {
  display: block;
  height: 40px;
  line-height: 2;
  padding-right: 2em;
  font-family: 'mavenProDemi';
  background-image: url(../images/tabs.png);
  background-repeat: no-repeat;
  background-position: 100% -160px;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
ul.wojo.tabs li.active {
  background-position: 0 -40px;
}
ul.wojo.tabs li.active a {
  background-position: 100% 0;
  line-height: 2.5;
  color: #50646F;
}
ul.wojo.tabs li a:hover {
  color: #50646F;
}
ul.wojo.tabs li a .icon {
  padding-right: 1em;
}
/* == Uploader == */
.wojo.uploader {
  border: 2px dotted #A5A5C7;
  width: 100%;
  color: #92AAB0;
  text-align: center;
  vertical-align: middle;
  padding: 40px 0px;
  margin-bottom: 10px;
  font-size: 1.5em;
  cursor: default;
  user-select: none;
}
.wojo.basic.uploader {
  border: 0;
  width: 100%;
  color: #92AAB0;
  padding: 0;
  margin-bottom: 0;
  font-size: 1em;
  text-align: left;
}
.wojo.uploader-active {
  border-color: #0B85A1;
}
.wojo.uploader div.or {
  font-size: 14px;
  font-weight: bold;
  color: #C0C0C0;
  padding: 10px;
}
.wojo.uploader div.content label {
  background-color: #5a7bc2;
  color: white;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 300px;
  margin: 20px auto 0px auto;
  box-shadow: 2px 2px 2px #888888;
}
.wojo.basic.uploader div.content label {
  background-color: transparent;
  color: #5e5e5e;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  margin: 0;
  box-shadow: none;
}
.wojo.uploader div.content span {
  cursor: pointer;
}
.wojo.uploader div.content input,
.wojo.button.uploader input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 0;
  opacity: .0;
  direction: ltr;
  cursor: pointer;
}
.wojo.uploader div.content label:hover {
  background-color: #427fed;
}
.wojo.basic.uploader div.content label:hover {
  background-color: transparent;
}
.wojo.button.uploader {
  width: auto;
  font-size: 1rem;
  border: 0;
  margin: 0;
  padding: 0.75em 1.5em;
}
/* == Activity == */
ul.wojo.activity,
ul.wojo.activity li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.wojo.activity li {
  clear: both;
}
ul.wojo.activity li .intro {
  float: left;
  width: 150px;
  text-align: right;
  position: relative;
  font-size: .875em;
  font-family: 'RobotoBold';
  padding: 1em;
}
ul.wojo.activity li .intro:after,
ul.wojo.activity li .intro:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #2B3D4C;
  right: -4px;
  border-radius: 6px;
  top: 1.5em;
  z-index: 3
}
ul.wojo.activity li .intro:before {
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 9px;
  right: -5px;
  top: 1.35em;
  z-index: 2
}
ul.wojo.activity li:nth-child(2n) .content {
  background-color: rgba(0, 0, 0, 0.02);
}
ul.wojo.activity li .content {
  margin-left: 150px;
  padding: 1em;
  position: relative;
}
ul.wojo.activity li .content:before {
  position: absolute;
  height: 100%;
  content: "";
  border-left: 2px solid #00BCD4;
  left: 0;
  top: 0;
  z-index: 1
}

@media screen and (max-width:769px) {
ul.wojo.activity li .intro {
  float: none;
  width: auto;
  text-align: left;
  padding: .5em 1em;
  background-color: rgba(0, 0, 0, 0.05);
}
ul.wojo.activity li:nth-child(2n) .content {
  background-color: rgba(0, 0, 0, 0);
}
ul.wojo.activity li .content {
  margin-left: 0;
  padding: .5em 1em;
  position: relative;
}
ul.wojo.activity li .intro:after,
ul.wojo.activity li .intro:before,
ul.wojo.activity li .content:before {
  display: none
}
}
/* == Sidebar Menu == */
.wojo.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: none;
  transition: none;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100% !important;
  max-height: 100%;
  border-radius: 0em !important;
  margin: 0em !important;
  overflow-y: auto !important;
  z-index: 102;
}
.wojo.sidebar > * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* == Direction == */
.wojo.left.sidebar {
  right: auto;
  left: 0px;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.wojo.right.sidebar {
  right: 0px !important;
  left: auto !important;
  -webkit-transform: translate3d(100%, 0%, 0);
  transform: translate3d(100%, 0%, 0);
}
.wojo.top.sidebar,
.wojo.bottom.sidebar {
  width: 100% !important;
  height: auto !important;
}
.wojo.top.sidebar {
  top: 0px !important;
  bottom: auto !important;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.wojo.bottom.sidebar {
  top: auto !important;
  bottom: 0px !important;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* == Pushable == */
.pushable {
  height: 100%;
  overflow-x: hidden;
  padding: 0em !important;
}
body.pushable {
  background: #545454;
}
.pushable:not(body) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushable:not(body) > .wojo.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  position: absolute;
}
/* == Fixed == */
.pushable > .fixed {
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  will-change: transform;
  z-index: 101;
}
/* == Page == */
.pushable > .pusher {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  min-height: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  z-index: 2;
}
body.pushable > .pusher {
  background: #FFFFFF;
}
.pushable > .pusher {
  background: inherit;
}
/* == Dimmer == */
.pushable > .pusher:after {
  position: fixed;
  top: 0px;
  right: 0px;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  will-change: opacity;
  z-index: 1000;
}
.wojo.sidebar.menu .item {
  border-radius: 0em !important;
}
/* == States == */
.pushable > .pusher.dimmed:after {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}
/* == Animating == */
.wojo.animating.sidebar {
  visibility: visible;
}
/* == Visible == */
.wojo.visible.sidebar {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.wojo.left.visible.sidebar,
.wojo.right.visible.sidebar {
  box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15);
}
.wojo.top.visible.sidebar,
.wojo.bottom.visible.sidebar {
  box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15);
}
.wojo.visible.left.sidebar ~ .fixed,
.wojo.visible.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
.wojo.visible.right.sidebar ~ .fixed,
.wojo.visible.right.sidebar ~ .pusher {
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}
.wojo.visible.top.sidebar ~ .fixed,
.wojo.visible.top.sidebar ~ .pusher {
  -webkit-transform: translate3d(0, 36px, 0);
  transform: translate3d(0, 36px, 0);
}
.wojo.visible.bottom.sidebar ~ .fixed,
.wojo.visible.bottom.sidebar ~ .pusher {
  -webkit-transform: translate3d(0, -36px, 0);
  transform: translate3d(0, -36px, 0);
}
.wojo.visible.left.sidebar ~ .wojo.visible.right.sidebar ~ .fixed,
.wojo.visible.left.sidebar ~ .wojo.visible.right.sidebar ~ .pusher,
.wojo.visible.right.sidebar ~ .wojo.visible.left.sidebar ~ .fixed,
.wojo.visible.right.sidebar ~ .wojo.visible.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
/* == Variations == */
.wojo.thin.left.sidebar,
.wojo.thin.right.sidebar {
  width: 150px;
}
.wojo[class*="very thin"].left.sidebar,
.wojo[class*="very thin"].right.sidebar {
  width: 60px;
}
.wojo.left.sidebar,
.wojo.right.sidebar {
  width: 260px;
}
.wojo.wide.left.sidebar,
.wojo.wide.right.sidebar {
  width: 350px;
}
.wojo[class*="very wide"].left.sidebar,
.wojo[class*="very wide"].right.sidebar {
  width: 475px;
}
.wojo.visible.thin.left.sidebar ~ .fixed,
.wojo.visible.thin.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate3d(150px, 0, 0);
}
.wojo.visible[class*="very thin"].left.sidebar ~ .fixed,
.wojo.visible[class*="very thin"].left.sidebar ~ .pusher {
  -webkit-transform: translate3d(60px, 0, 0);
  transform: translate3d(60px, 0, 0);
}
.wojo.visible.wide.left.sidebar ~ .fixed,
.wojo.visible.wide.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(350px, 0, 0);
  transform: translate3d(350px, 0, 0);
}
.wojo.visible[class*="very wide"].left.sidebar ~ .fixed,
.wojo.visible[class*="very wide"].left.sidebar ~ .pusher {
  -webkit-transform: translate3d(475px, 0, 0);
  transform: translate3d(475px, 0, 0);
}
.wojo.visible.thin.right.sidebar ~ .fixed,
.wojo.visible.thin.right.sidebar ~ .pusher {
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
}
.wojo.visible[class*="very thin"].right.sidebar ~ .fixed,
.wojo.visible[class*="very thin"].right.sidebar ~ .pusher {
  -webkit-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
}
.wojo.visible.wide.right.sidebar ~ .fixed,
.wojo.visible.wide.right.sidebar ~ .pusher {
  -webkit-transform: translate3d(-350px, 0, 0);
  transform: translate3d(-350px, 0, 0);
}
.wojo.visible[class*="very wide"].right.sidebar ~ .fixed,
.wojo.visible[class*="very wide"].right.sidebar ~ .pusher {
  -webkit-transform: translate3d(-475px, 0, 0);
  transform: translate3d(-475px, 0, 0);
}
/* == Animations == */
.wojo.overlay.sidebar {
  z-index: 102;
}
.wojo.left.overlay.sidebar {
  -webkit-transform: translate3d(-100%, 0%, 0);
  transform: translate3d(-100%, 0%, 0);
}
.wojo.right.overlay.sidebar {
  -webkit-transform: translate3d(100%, 0%, 0);
  transform: translate3d(100%, 0%, 0);
}
.wojo.top.overlay.sidebar {
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}
.wojo.bottom.overlay.sidebar {
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
}
.animating.wojo.overlay.sidebar,
.wojo.visible.overlay.sidebar {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.wojo.visible.left.overlay.sidebar {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
.wojo.visible.right.overlay.sidebar {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
.wojo.visible.top.overlay.sidebar {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
.wojo.visible.bottom.overlay.sidebar {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
.wojo.visible.overlay.sidebar ~ .fixed,
.wojo.visible.overlay.sidebar ~ .pusher {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.wojo.push.sidebar {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  z-index: 102;
}
.wojo.left.push.sidebar {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.wojo.right.push.sidebar {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.wojo.top.push.sidebar {
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}
.wojo.bottom.push.sidebar {
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
}
.wojo.visible.push.sidebar {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.wojo.uncover.sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.wojo.visible.uncover.sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
/* == Slide Along == */
.wojo.slide.along.sidebar {
  z-index: 1;
}
.wojo.left.slide.along.sidebar {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.wojo.right.slide.along.sidebar {
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.wojo.top.slide.along.sidebar {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.wojo.bottom.slide.along.sidebar {
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
}
.wojo.animating.slide.along.sidebar {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.wojo.visible.slide.along.sidebar {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* == Slide Out == */
.wojo.slide.out.sidebar {
  z-index: 1;
}
.wojo.left.slide.out.sidebar {
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.wojo.right.slide.out.sidebar {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.wojo.top.slide.out.sidebar {
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
}
.wojo.bottom.slide.out.sidebar {
  -webkit-transform: translate3d(0%, -50%, 0);
  transform: translate3d(0%, -50%, 0);
}
.wojo.animating.slide.out.sidebar {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.wojo.visible.slide.out.sidebar {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* == Scale Down == */
.wojo.scale.down.sidebar {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  z-index: 102;
}
.wojo.left.scale.down.sidebar {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.wojo.right.scale.down.sidebar {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.wojo.top.scale.down.sidebar {
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}
.wojo.bottom.scale.down.sidebar {
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
}
.wojo.scale.down.left.sidebar ~ .pusher {
  -webkit-transform-origin: 75% 50%;
  -ms-transform-origin: 75% 50%;
  transform-origin: 75% 50%;
}
.wojo.scale.down.right.sidebar ~ .pusher {
  -webkit-transform-origin: 25% 50%;
  -ms-transform-origin: 25% 50%;
  transform-origin: 25% 50%;
}
.wojo.scale.down.top.sidebar ~ .pusher {
  -webkit-transform-origin: 50% 75%;
  -ms-transform-origin: 50% 75%;
  transform-origin: 50% 75%;
}
.wojo.scale.down.bottom.sidebar ~ .pusher {
  -webkit-transform-origin: 50% 25%;
  -ms-transform-origin: 50% 25%;
  transform-origin: 50% 25%;
}
.wojo.animating.scale.down > .visible.wojo.sidebar {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.wojo.visible.scale.down.sidebar ~ .pusher,
.wojo.animating.scale.down.sidebar ~ .pusher {
  display: block !important;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.wojo.visible.scale.down.sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.wojo.visible.scale.down.sidebar ~ .pusher {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}
/* == Breadcrumb == */
.wojo.breadcrumb {
  line-height: 1;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-family: 'mavenProDemi';
}
.wojo.breadcrumb:first-child {
  margin-top: 0em;
}
.wojo.breadcrumb:last-child {
  margin-bottom: 0em;
}
.wojo.breadcrumb .divider {
  display: inline-block;
  opacity: 0.7;
  margin: 0em 0.75rem 0em;
  font-size: 0.913em;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}
.wojo.breadcrumb a {
  color: rgba(0, 0, 0, 0.4)
}
.wojo.breadcrumb a:hover {
  color: #212F38;
}
.wojo.breadcrumb .icon.divider {
  font-size: 0.875em;
  vertical-align: baseline;
}
.wojo.breadcrumb a.section {
  cursor: pointer;
}
.wojo.breadcrumb .section {
  display: inline-block;
  margin: 0em;
  padding: 0em;
}
.wojo.breadcrumb .active.section {
  font-family: 'mavenProBold';
  color: #33BFC1;
  text-transform: uppercase;
  font-size: 0.750em;
}
/* == Variations == */
.wojo.mini.breadcrumb {
  font-size: 0.688rem;
}
.wojo.tiny.breadcrumb {
  font-size: 0.750rem;
}
.wojo.small.breadcrumb {
  font-size: 0.875rem;
}
.wojo.breadcrumb {
  font-size: 1rem;
}
.wojo.large.breadcrumb {
  font-size: 1.125rem;
}
.wojo.big.breadcrumb {
  font-size: 1.250rem;
}
.wojo.huge.breadcrumb {
  font-size: 1.5rem;
}
.wojo.massive.breadcrumb {
  font-size: 2rem;
}